
@{
    ViewBag.Title = "About";
}

<p>Contact us at: 087 965 4654 or <a href="mailto:s219620873@mandela.ac.za">v-active@gmail.com</a> </p>

<span>I assumed that admins are preset into the data base all they do is login</span><br />
<span>Only users register using the website</span><br />

<span>For testing: Admin-njabulo@gmail.com, password:123 </span> <br />
<span>for any other user marinda, password marinda or a new registration will be just fine </span>

